*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  list-style: none;
}

header{
  background-color: white;
  height: 5rem;
  align-items: center;
  width: 100%;
}

.logo{
  height: 1.875rem;
  padding-top: 25px;
  padding-left: 6.25rem;
  align-items: center;
}

main{
  background-image: linear-gradient(#B5B6F2, #EFEFFF);
  height: 42rem;
  width: 100%;
}

form {
  width: 18.75rem;
  background-color: white;
  padding: 1rem;
  position: absolute;
  width: 35%;
  top: 10rem;
  left: 6.25rem;
  align-items: center;
  border-radius: 0.625rem;
}

form h1{
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  color:#1F1F1F;
  letter-spacing: 0.1rem;
  padding-bottom: 1.25rem;
   
}

form a, form p{
  color: #1F1F1F;
  font-family: 'inter';
  font-weight: 400;
  font-size: 1rem;
}

form div{
  padding: 1.875rem 0 0 1.785rem;
}

form input{
  display: block;
  background-color: #47474704;
  width: 90%;
  height: 3.75rem;
  border-radius:0.4rem;
  border: none;
  padding-left: 1rem;
}

label span{
  color: red;
}

.forgot{
  color: #1F1F1F;
  font-family: 'inter';
  font-weight: 700;
  font-size: 0.875rem;
}

.button {
  background-color: #C92071;
  color: white;
  height: 3.5rem;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  border-radius: 0.5rem;
  font-family: 'inter';
  font-weight: 700;
  font-size: .8rem;
  color: #FFFFFF;
  text-decoration: none;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;  
}

.login a{
  padding-left: 1rem;
}

.sneaker1{
  position: absolute;
  width: 25%;
  top: 8rem;
  right: 25rem;
}

.sneaker2{
  position: absolute;
  width: 25%;
  top: 16rem;
  right:7.2rem;
}

footer{
  background-color: black;    
}

footer .footer{
  color: white;
  display: flex;
  padding:4.5rem 6.25rem;
}

footer .about{
  margin-left: 2rem;
}

.logo-white{
  margin-bottom: 2rem;
}

.social-item{
  padding-left: 2rem;
}

.social{
  padding-top: 2rem;
}

footer a{
  text-decoration: none;
  color: white;
}

footer ul h3{
  font-size: 1.125rem;
  padding-bottom: 1.75rem;
}

footer ul li{
  font-size: 1rem;
  padding-bottom: 1rem;
}

.information, .category, .contect{
  padding-left: 6.25rem;
}

 .about{
  width: 19.20rem;
}

/*.information{
  width: 8.45rem;
  padding-left: 6.375rem;
}

.category{
  width: 8.45rem;
  padding-left: 12.8rem;
}*/

.contact{
  padding-left: 10.5rem;
} 

.contact p{
  padding-top: 1rem;
}

.divider-1 {
  position: absolute;
  left: 5rem;
  right: 5rem;
  height: 1px;
  width: 90%;
  background: linear-gradient(
      270deg,
  white,
  #1F1F1F);
  }

  h3 .baseboard{
    justify-content: center;align-items: center;
    color: white;

  }

